<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header th:insert="header.html"></header>

<table class="table table-bordered border-warning">
    <thead>
    <tr>
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="col">
            id
        </th>
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="col">
            Organisation
        </th>
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="col">
            Update
        </th>
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="col">
            Delete
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="organisation : ${allOrganisation}">
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="row"
            th:text="${organisation.id}"/>
        <th class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" scope="row"
            th:text="${organisation.organisationName}"/>
        <td>
                <a  class="btn btn-primary" sec:authorize="hasAuthority('Admin')" th:href="@{'/organisation/update?id=' + ${organisation.id}}">Update</a>
        </td>
        <td>
                <form action="#" sec:authorize="hasAuthority('Admin')" th:action="@{'/organisation/delete?id=' + ${organisation.id}}" method="post">
                    <button type="submit">Delete</button>
                </form>
        </td>
    </tr>
    </tr>

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>