<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Form</title>
</head>
<body>
<form th:action="@{/event/filter}" method="post">
  <input type="text" th:name="place" placeholder="Enter place">
  <input type="text" th:name="eventType" placeholder="Enter event type">
  <input type="date" th:name="date" placeholder="Enter date">
  <button type="submit">Search</button>
</form>
</body>
</html>